#contact-us-container {
  align-items: flex-start;
  .lets-talk-header {
    background: linear-gradient(114deg, #03adb5 11.39%, #e41469 86.46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: #dfe6f0;
    border-radius: 8px;
  }
}
