.section-container {
  .section-content {
    .how-it-works-title {
      background: linear-gradient(116deg, #03adb5 7.14%, #e41469 89.18%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .how-it-works-subtitle {
      color: rgba(35, 41, 50, 1);
    }
  }
}
