.section-container {
  .section-content {
    .services-header {
      background: -webkit-linear-gradient(290deg, #03adb5 0%, #e41469 82.25%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
