.section-container {
  .section-content {
    .values-title {
      background: var(--Gradient-01, linear-gradient(143deg, #03adb5 0%, #e41469 82.25%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
